*{
	font-weight: bold;
}
body{
	background-color: white;
	font-weight: bold;
}

.Joe{
	background-color: lightgray;
	width: 30%;
	margin: auto;
	margin-top: 50px;
	padding: 10px;
	border: 2px solid black;
}

.valor{
	width: 50px;
	height: 25px;
	margin: 0 15px;
}

button{
	background-color: goldenrod;
	width: 130px;
	height: 35px;
	border-radius: 10px;
}